APPNAME=""
DEV_AWS_REGION=""
DEV_AWS_S3_BUCKET=""
DEV_SOURCE_SYNC_PATH=""
QA_AWS_REGION=""
QA_AWS_S3_BUCKET=""
QA_SOURCE_SYNC_PATH=""
PROD_AWS_REGION=""
PROD_AWS_S3_BUCKET=""
PROD_SOURCE_SYNC_PATH=""

